

 <html>
  <title>
    <%= locals.title %>
  </title>
   <h1> Home Page</h1>
 </html>

 
 
  <!-- if user matches then show the form -->
     <form action="/searchs_files/update" enctype="multipart/form-data"method="POST">
      <input type="text" name="name" placeholder="File Name"" required>
      
      <input type="file" name="csv_file" placeholder="Csv File">
      <input type="submit" value="Update">
     </form>
     <% if(locals.message) { %>
      <p><%=message%></p>
      <% } %>
  